doctype html

<!-- @if production=false -->
html
<!-- @endif -->

<!-- @if production=true -->
html(manifest="offline/cache.appcache")
<!-- @endif -->

    head
        
        meta(charset="UTF-8")

        title
     
        link(rel="shortcut icon", href="images/favicon_256x256.png", type="image/png")

        <!-- @if production=false -->
        // Top JS

        script(src="js_vendor/jquery.js")
        script(src="js_vendor/jquery-ui.js")
        script(src="js_vendor/leaflet-src.js")
        script(src="js_vendor/FileSaver.js")
        script(src="js_vendor/base64.js ")
        //script(src="js_vendor/bootstrap.js")
        //script(src="js_vendor/bootstrap-tour.js")
        script(src="js_vendor/pouchdb.js")
        script(src="js_vendor/jquery.noty.js")
        script(src="js_vendor/jquery.noty.topRight.js")
        script(src="js_vendor/jquery.noty.default.js")
        script(src="js_vendor/bootstrap-tagsinput.js")
        script(src="js_vendor/hammer.js")
        script(src="js_vendor/jquery.hammer.js")
        script(src="js_vendor/leaflet.measure.js")
        script(src="js_vendor/jquery.arcticmodal-0.3.min.js")

        // CSS    
        
        link(href="css_vendor/leaflet.css", rel="stylesheet")
        //link(href="css_vendor/bootstrap.css", rel="stylesheet")
        //link(href="css_vendor/bootstrap-tour.css", rel="stylesheet")
        link(href="css_vendor/jquery-ui.css", rel="stylesheet")
        link(href="css_vendor/leaflet.measure.css", rel="stylesheet")
        link(href="css_vendor/jquery.arcticmodal-0.3.css", rel="stylesheet")
        link(href="css_vendor/foundation.css", rel="stylesheet")
        link(href="css_vendor/normalize.css", rel="stylesheet")


        link(href="css/starik.kartofan.main.css", rel="stylesheet")
        link(href="css/starik.kartofan.menu.css", rel="stylesheet")
        link(href="css/starik.kartofan.forms.css", rel="stylesheet")
        link(href="css/starik.kartofan.fonts.css", rel="stylesheet")
        <!-- @endif -->

        <!-- @if production=true -->

        script(src="top.js")
        link(href="vendor.css", rel="stylesheet")
        link(href="app.css", rel="stylesheet")

        <!-- @endif -->

    body
        div#topMenuKartofan
            nav.top-bar(data-topbar)
                ul.title-area 
                    li.name: h1: a Kartofan
                    li.toggle-topbar.menu-icon: a: span.topMenuMenu Menu

                section.top-bar-section

                    ul.left.show-for-medium-up
                        li: a.topMenuMapSet: span.icon-map
                        li: a.topMenuStageSet: span.icon-grid
                        li: a.topMenuMoveMove: span.icon-aim
                        li: a.topMenuUtilsToggleFulscreen: span.icon-arrows-out
                        li: a.test: span.icon-blind

                    ul.right
                        li.has-dropdown.hide-for-small-only.hide-for-medium-up.hide-for-large-up.hide-for-xlarge-up.hide-for-xxlarge-up#topMenuStageEditor
                            a: span.topMenuStageEditor Stage Editor
                            ul.dropdown 
                                li: a.topMenuStageEditorSaveView Save View
                                li: a.topMenuStageEditorAddMap Add Map To Stage
                                li: a.topMenuStageEditorRemoveMap Remove Map From Stage
                                li: a.topMenuStageEditorEditControls Edit Controls On Selected Map

                        li.has-dropdown
                            a: span.topMenuMenu Menu
                            ul.dropdown 
                                li.has-dropdown
                                    a.topMenuMaps Maps 
                                    ul.dropdown
                                        li: a.topMenuMapSet Set Map
                                        li: a.topMenuMapEdit Edit Map
                                        li: a.topMenuMapExternal Get External Map
                                        li: a.topMenuMapSave Save Map
                                li.has-dropdown
                                    a.topMenuStages Stages 
                                    ul.dropdown 
                                        li: a.topMenuStageSet Set Stage
                                        li: a.topMenuStageEdit Edit Stage
                                        li: a.topMenuStageExternal Get External Stage
                                        li: a.topMenuStageEditView Edit This Stage View
                                        li: a.topMenuStageSave Save This Stage
                                li.has-dropdown
                                    a.topMenuUtils Utils
                                    ul.dropdown 
                                        li: a.topMenuUtilsToggleFulscreen Toggle Fullscreen Select Map
                                li.has-dropdown
                                    a.topMenuMove Moves 
                                    ul.dropdown 
                                        li: a.topMenuMoveMove Move To
                                        li: a.topMenuMoveAdd Add Move
                                        li: a.topMenuMoveEdit Edit Move
                                li.has-dropdown
                                    a.topMenuOptions Options 
                                    ul.dropdown 
                                        li: a.topMenuOptGlobal Set Global Options
                                        li: a.topMenuOptUpdate Update Options From External Base
                                        li: a.topMenuOptLang Set Language 
                                        li: a.topMenuOptReset Reset All Settings
                                li.has-dropdown
                                    a.topMenuJSON JSON 
                                    ul.dropdown 
                                        li: a.topMenuJSONMaps Get All External Maps
                                        li: a.topMenuJSONStages Get All External Stages
                                        li: a.topMenuJSONMoves Get All External Moves 
                                        li: a.topMenuJSONAll Get All From JSON
                                        li: a.topMenuJSONExport Export All Data To JSON
                                li.has-dropdown
                                    a.topMenuGPS GPS 
                                    ul.dropdown 
                                        li: a.topMenuGPSStart GPS Start
                                        li: a.topMenuGPSStop GPS Stop
                                li.has-dropdown
                                    a.topMenuHelp Help 
                                    ul.dropdown 
                                        li: a.topMenuHelpTourMain TourMain
                            
                            li: a.icon-iconic.topMenuPin

        div#formEditMap.foundationForm.hide
            div.box-modal
                form(data-abide)
                    div.row.collapse 
                        div.small-3.columns: span.prefix.formEditMap_id ID
                        div.small-9.columns: input.formEditMap_id(type="text", required)

                    div.row.collapse 
                        div.small-3.columns: span.prefix.formEditMap_title Title
                        div.small-9.columns: input.formEditMap_title(type="text", required)

                    div.row.collapse 
                        div.small-3.columns: span.prefix.formEditMap_server Server
                        div.small-9.columns: select.formEditMap_server

                    div.row.collapse
                        div.small-3.columns: span.prefix.formEditMap_layers Layers
                        div.small-9.columns: input.formEditMap_layers(type="text")

                    div.row.collapse
                        div.small-3.columns: span.prefix.formEditMap_group Group
                        div.small-9.columns: input.formEditMap_group(type="text")

                    div.row.collapse 
                        div.small-3.columns: span.prefix.formEditMap_src Source
                        div.small-9.columns: select.formEditMap_src

                    div.row.collapse 
                        div.small-3.columns: span.prefix.formEditMap_crs CRS
                        div.small-9.columns: select.formEditMap_crs

                    div.row.collapse 
                        div.small-3.columns: span.prefix.formEditMap_tilesURL Tiles URL
                        div.small-9.columns: textarea.formEditMap_tilesURL(required)

                    div.row.collapse
                        div.small-3.columns: span.prefix.formEditMap_maxZoom maxZoom
                        div.small-9.columns: input.formEditMap_maxZoom(type="text", required, pattern="^1?\\d$|^20$")

                    div.row.collapse 
                        div.small-3.columns: span.prefix.formEditMap_minZoom minZoom
                        div.small-9.columns: input.formEditMap_minZoom(type="text", required, pattern="^1?\\d$|^20$")

                    div.row.collapse 
                        div.small-3.columns: span.prefix.formEditMap_startZoom startZoom
                        div.small-9.columns: input.formEditMap_startZoom(type="text", required, pattern="^1?\\d$|^20$")

                    div.row.collapse 
                        div.small-12.medium-4.columns.text-center: a.small.button.formEditMap_submit Submit
                        div.small-12.medium-4.columns.text-center: a.small.button.formEditMap_delete Delete
                        div.small-12.medium-4.columns.text-center: a.small.button.formEditMap_cancel Cancel

        div#infoMenuKartofan

        div.mapContainer#container

        <!-- @if production=false -->
        // Bottom JS

        script(src="js_vendor/modernizr.js")
        script(src="js_vendor/foundation.min.js")

        script(src="js/starik.kartofan.fn.js")
        script(src="js/starik.kartofan.leaflet.js")
        script(src="js/starik.kartofan.options.js")
        script(src="js/starik.kartofan.stages.js")
        script(src="js/starik.kartofan.forms.js")
        script(src="js/starik.kartofan.events.js")
        //script(src="js/starik.kartofan.trip.js")
        script(src="js/starik.kartofan.gps.js")
        script(src="js/starik.kartofan.main.js")
        <!-- @endif -->

        <!-- @if production=true -->

        script(src="bottom.js")

        |<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22770301 = new Ya.Metrika({id:22770301, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22770301" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

        |<script>
        |(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        |(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        |m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        |})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        |ga('create', 'UA-38067250-2', 'kissr.com');
        |ga('send', 'pageview');
        |</script>
        <!-- @endif -->
